:root {
  --body-color: #1a1a1a;
  --secondary-color: #1e1e1e;
  --header-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
  --header-table: #ddd;
  --background-table: #3a3a3a;
  --shadow-table: 0 0 10px rgba(255, 255, 255, 0.05);
  --border-table: 1px solid rgba(255, 255, 255, 0.1);
  --item-inf: #888;
  --main-text-color: #f1f1f1;
  --text-color: #fff;
  --text-shadow: 0 2px 10px #dd00a9;
  --background-link: #dd00a9;
  --link-hover: #b5028b;
  --link-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  --game-card: #1f1f1f;
  --faq-background: #444;
  --faq-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  --faq-hover-shadow: 0 6px 10px rgba(255, 7, 222, 0.432);
  --faq-border: 1px solid #bfbfbf;
  --footer-background: #121212;
  --footer-shadow: 0 4px 25px rgba(0, 0, 0, 0.8);
  --app-link: #f4ad14;
  --app-link-hover: #dc9c12;
}